/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.parallax-container {
  max-width: 960px;
  margin: 0 auto;
}

/* ============================================================
    SECTIONS
  ============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
  background-color: #fff;
}
section.module.content:last-child {
  margin-bottom: 60px;
}
section.module.parallax {
  padding: 240px 0;
  background-position: 0 0;
}
section.module.parallax-img {
  // background-image: url("../../../../assets/images/parallax/marseille.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: screen;
}

@media all and (min-width: 600px) {
  section.module.parallax {
    padding: 300px 0;
  }
}
