<h5 class="title">Skills</h5>
<div class="container-skills">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="row">
                <div class="col" *ngFor="let item of listSkills">
                    <div class="flip-card mx-auto">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img class="my-auto mx-auto" [src]="item.image" alt="Avatar">
                            </div>
                            <div class="flip-card-back d-block p-3">
                                <h4 class="d-flex align-items-start">{{item.title}}</h4>
                                <p class="d-flex align-items-center text-left" [innerHTML]="item.content"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>