@mixin style-text($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
  }
  