<nav class="navbar navbar-expand-md navbar-dark bg-fade fixed-top">
    <a class="navbar-brand">Jean Moreau</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span (click)="expandNav()" class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{'d-block': navExpand}">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [ngClass]="{active: nav['home']}">
                <a class="nav-link" (click)="scroll('home')">Home </a>
            </li>
            <li class="nav-item" [ngClass]="{active: nav['skills']}">
                <a class="nav-link" (click)="scroll('skills')">Skills</a>
            </li>
            <li class="nav-item" [ngClass]="{active: nav['contact']}">
                <a class="nav-link" (click)="scroll('contact')">CV</a>
            </li>
            <li class="nav-item" [ngClass]="{active: nav['experience']}">
                <a class="nav-link" (click)="scroll('experience')">Experience</a>
            </li>
            <li class="nav-item" [ngClass]="{active: nav['drawing']}">
                <a class="nav-link" (click)="scroll('drawing')">Drawing</a>
            </li>
        </ul>
    </div>
</nav>