<div class="container-xp mb-5">
    <h5 class="title mb-5">Experience</h5>
    <p class="content">Im currently Lead Developper for Malakoff Humanis project <a
            href="https://www.malakoffhumanis.com/solutions/services-accompagnement-social/diagnostic-capital-humain/">'Diagnostic
            Capital Humain'</a>, Winner of the <a
            href="https://www.argusdelassurance.com/les-assureurs/argus-d-or-2019-les-innovations-recompensees.145600">argus
            of assurance 2019.</a></p>
    <p class="content">This project allow you to display with your absenteeism at work and compare to national Benchmark.</p>
    <p class="content">Front in Angular and back in Node.</p>
        <h5 class="title">Commercial</h5>
    <div class="d-flex justify-content-center">
        <video width="100%" height="auto" controls>
            <source src="assets/video/DCH-PUB.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
    </div>
</div>