<app-toolbar></app-toolbar>
<app-parallax-head id="home" imagesParallax="../../../../assets/images/parallax/marseille.jpg">
    <div class="parallax-into">
        <h4>Jean Moreau<br> Developper Fullstack</h4>
        <h4> using : </h4>
        <h4><span id="typewriter"></span></h4>
    </div>
</app-parallax-head>
<app-skills id="skills"></app-skills>
<app-parallax-head id="contact" imagesParallax="../../../../assets/images/parallax/mtl.jpg">
    <div class="parallax-into">
        <h4>Contact:</h4>
        <h4 class="text-break">jean.moreau7@gmail.com</h4>
    </div>
</app-parallax-head>
<app-slideshow></app-slideshow>