<app-toolbar></app-toolbar>
<app-parallax-head imagesParallax="../../../../assets/images/parallax/marseille.jpg">
    <div class="parallax-into">
        <h4>Jean Moreau<br> Developper Fullstack</h4>
        <h4> using : </h4>
        <h4><span id="typewriter"></span></h4>
    </div>
</app-parallax-head>
<app-skills></app-skills>
<app-parallax-head imagesParallax="../../../../assets/images/parallax/mtl.jpg">
    <div class="parallax-into">
        <h4>Jean Moreau<br> Developper Fullstack</h4>
        <h4> using : </h4>
        <h4><span id="typewriter"></span></h4>
    </div>
</app-parallax-head>