<app-toolbar></app-toolbar>
<app-parallax-head id="home"  paddingPercent="15" imagesParallax="../../../../assets/images/parallax/marseille.jpg">
    <div class="parallax-into">
        <h4>Jean Moreau<br> Developper Fullstack</h4>
        <h4> using : </h4>
        <h4><span id="typewriter"></span></h4>
    </div>
</app-parallax-head>
<app-skills id="skills"></app-skills>
<app-experience id="experience"></app-experience>
<app-parallax-head id="contact" paddingPercent="10" imagesParallax="../../../../assets/images/parallax/stars.jpg">
    <div class="parallax-into">
        <h4><a href="assets/cv/JeanMoreauCV.pdf" target="_blank">Download my Resume</a></h4>
    </div>
</app-parallax-head>
<app-slideshow id="drawing"></app-slideshow>