@font-face {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    src: url('../assets/font/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
    src: url('../assets/font/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}