@font-face {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    src: url('../font/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
    src: url('../font/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    src: url('../font/Pacifico-Regular.ttf') format('truetype');
}