body,
p,
a,
form,
button {
  @include style-text($font-size-standard, $line-height-standard);
  color: $noir;
  font-family: "Playfair Display", serif;
  font-size: $font-size-body;

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    font-size: 15px;
  }
  @media only screen and (min-device-width: 900) {
    font-size: 14px;
  }
  @media only screen and (min-device-width: 600) {
    font-size: 13px;
  }
}
h1 {
  @extend h1;
  @include style-text($font-size-h1, $line-height-titre-gros);
}

h2 {
  @extend h2;
  @include style-text($font-size-h2, $line-height-titre-gros);
}

h3 {
  @extend h3;
  @include style-text($font-size-h3, $line-height-titre-petit);
}

h4 {
  @extend h4;
  @include style-text($font-size-h4, $line-height-titre-petit);
}

h5 {
  @extend h5;
  @include style-text($font-size-h5, $line-height-standard);
}

sub {
  @extend sub;
  @include style-text($font-size-sub, $line-height-titre-petit);
}

caption,
.message,
.form-focus {
  @extend form;
  @include style-text($font-size-form, $line-height-form);
}

.overline {
  @include style-text($font-size-overline, $line-height-overline);
  text-transform: uppercase;
}
