$font-size-body: 16px;
$font-size-standard: 1em;
$font-size-h1: 2.625em;
$font-size-h2: 2.25em;
$font-size-h3: 1.75em;
$font-size-h4: 1.375em;
$font-size-h5: 1.125em;
$font-size-sub: 0.875em;
$font-size-form: 0.75em;
$font-size-overline: 0.625em;

$line-height-standard: 1.38;
$line-height-titre-gros: 1.33;
$line-height-titre-petit: 1.36;
$line-height-form: 1.42;
$line-height-overline: 1.4;